@import '../../styles/base.scss';

.mobile-navbar {
    display: none;
    @media screen and (max-width: $mobile) {
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        padding: 1.5rem $mobile-padding;
        height: $navbar-height;
        z-index: 1;
        flex-direction: column;


        ul {
            list-style: none;
            width: 100%;
            padding-left: 0;
            display: flex;
            justify-content: space-between;
            margin: 0;

            li img {
                height: 30px;
                width: 30px;
            }
        }
    }
}