@import '../../styles/base.scss';

.mobile-navbar {
    display: none;
    @media screen and (max-width: $mobile) {
        display: flex;
        position: fixed;
        width: 100%;
        padding: 1.5rem $mobile-padding;
        height: $navbar-height;


        ul {
            list-style: none;
            width: 100%;
            padding-left: 0;
            display: flex;
            justify-content: space-between;
        }
    }
}