@import '../../styles/base.scss';

.mobile-navbar {
  font-family: $heading-font;
  display: none;
  z-index: -99;

  &[aria-expanded='true'] {
    border-bottom: 1px solid black;
    background: $background-color;
  }

  @media screen and (max-width: $mobile) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: $navbar-height;
    z-index: 1;
    flex-direction: column;

    .normal-navbar {
      padding: 1.5rem $mobile-padding;

      list-style: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin: 0;

      li img {

      }

      li img:is(:hover, :focus-visible) {
        cursor: pointer;
      }
    }
  }
}

.expanded-navbar {
  overflow:hidden;
  margin-top: $navbar-height;
  background: $background-color;
  z-index: 5;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  width: 100%;
  height: calc(100lvh - $navbar-height);
  list-style-type: none;
  padding-left: 0;
  text-align: left;

  li {
    font-size: 24px;

    &:not(:last-child) {
      padding: 6vw 15vw;
      border-bottom: 1px solid black;
    }
  }

  li:is(:hover, :focus-visible) {
    cursor: pointer;
  }

  li:is(:last-child) {
    position: relative;
    flex: 1;
  }

  .register-button {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $heading-font;
    font-weight: 700;
    color: black;
    border-bottom: none !important;
    font-size: min(4.5svw, 2.5em);
    width: 100%;

    &:is(:hover, :focus-visible) {
      cursor: pointer;

      #arrow-right {
        transform: translateX(-20px);
      }
    }

    #arrow-right {
      transition: transform 0.3s ease-in-out;
      margin-left: 25px;
      width: 50px;

      &.animate-click {
        transform: translateX(30px);
      }
    }
  }

  .paper-airplane {
    position: absolute;
    bottom: 10vh;
    right: 12vw;
  }
}
