$brr-path-width: 100svw;
$mobile: 600px;
$desktop: 960px;

.scroll-page {
	width: 100svw;
	height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;

	#brr-box {
		position: absolute;
		width: 100svw;
		top: 70svh;

		@media screen and (min-width: $mobile) {
			top: 60svh;

			#brr {
				width: 300px;
			}
		}
	}

	.register-button {
		all: unset;

		display: flex;
		justify-content: center;
		align-items: center;

		text-align: left;
		font-family: SpaceMonoBold;
		color: black;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}

		&:focus {
			text-decoration: underline;
		}

		margin: 0 10px;
		font-size: min(5svw, 2em);

		@media screen and (min-width: $mobile) {
			width: 70svw;
			margin: 0;
		}
		#arrow-right {
			margin-left: 25px;
		}
	}

	#boarding-pass {
		position: absolute;
		top: 0;
		right: 0;
		width: 55svh;

		@media screen and (max-width: $mobile) {
			display: none;
		}
	}
	#df-logo {
		position: absolute;
		top: 40px;
		left: 40px;
		width: 10svh;

		@media screen and (max-width: $mobile) {
			display: none;
		}
	}
}
