@import '../../styles/base.scss';

$brr-path-width: 100svw;
$mobile: 600px;
$desktop: 960px;

.form-submit {
	height: 100vh;
	width: 100svw;
	z-index: 11;
	margin-top: 250px;

	.scroll-page {
		width: 100svw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;


		#brr-box {
			position: absolute;
			width: 100svw;
			top: 70svh;

			@media screen and (min-width: $mobile) {
				top: 60svh;
				
				#brr {
					width: 300px;
				}
			}
		}

		
		$boarding-pass-width: 30;

		.fullboarding-pass1 {
			width: max($boarding-pass-width * 1svw, $boarding-pass-width * 0.6 * 1rem);
			position: absolute;
			top: min($boarding-pass-width * -0.5 * 1svw, $boarding-pass-width * -0.3 * 1rem);
			right: 0;
			background-position: left;

			#boarding-pass1 {
				width: max($boarding-pass-width / 0.6 * 1svw, $boarding-pass-width * 1rem);

				@media screen and (max-width: $mobile) {
				}
			}
		}
		.fullboarding-pass2 {
			width: max($boarding-pass-width * 1svw, $boarding-pass-width * 0.6 * 1rem);
			position: absolute;
			bottom: min($boarding-pass-width * -0.5 * 1svw, $boarding-pass-width * -0.3 * 1rem);
			left: min($boarding-pass-width * -0.8 * 1svw, $boarding-pass-width * -0.48 * 1rem);
			background-position: right;

			#boarding-pass2 {
				width: max($boarding-pass-width / 0.6 * 1svw, $boarding-pass-width * 1rem);
	
				@media screen and (max-width: $mobile) {
				}
			}
		}
		
		#df-logo {
			position: absolute;
			top: 40px;
			left: 40px;
			width: 10svh;

			@media screen and (max-width: $mobile) {
				display: none;
			}
		}
	}
}

.register-button {

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: left;
	font-weight: 700;
	color: black;

	&:is(:hover, :focus-visible) {
		cursor: pointer;
  
		#arrow-right {
		  transform: translateX(-20px);
		}
	  }
  
	  #arrow-right {
		transition: transform 0.3s ease-in-out;
		margin-left: 25px;
		width: 50px;
  
		&.animate-click {
		  transform: translateX(25px);
		}
	  }


	margin: 0 10px;
	font-size: min(5svw, 2em);

	@media screen and (min-width: $mobile) {
		width: 70svw;
		margin: 0;
	}
	
}
