@import '../../styles/base.scss';

.home {
    .logo {
        position: absolute;
        width: min(37rem, 33vw);
        top: min(10rem, 19vh);
        left: 8vw;
        z-index: 100;
      
        transition: 0.5s;
        transform-origin: top left;
      
        /* width: 7vw;
        top: 2rem;
        left: 4vw; */
        @media screen and (max-width: $mobile) {
          display: none;
        }
      }

    > .landing {
        height: 100%;
        overflow: hidden;
        display: flex;
        > .landing-container {
            padding: 0 $desktop-padding;

            @media screen and (max-width: $mobile) {
                padding: 0 $mobile-padding;
                width: 100%;
            }
        
            > .left-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: min(37rem, 33vw);
                padding-top: calc(min(37rem, 33vw)/1.6 + min(10rem, 19vh) + 1rem);

                @media screen and (max-width: $mobile) {
                    position:relative;
                    height: calc(100svh);

                    padding-top: calc($navbar-height );
                    width: 100%;
                }
                
                > .mobile-logo {
                    display: none;

                    @media screen and (max-width: $mobile) {
                        display: block;
                        margin: 0 auto 2rem;
                        width: 100%;
                        
                    }
                }
                > h3 {
                    font-size: min(1.4svw, 1.45em);
                    white-space:nowrap;
                    @media screen and (max-width: $mobile) {
                        display: none;
                    }
                }
                > .mobile-h3-container {
                    display: none;

                    @media screen and (max-width: $mobile) {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;

                        h3 {
                        font-size: min(4svw, 2em);

                        }
                    }
                    
                }
                > p {
                    text-align: justify;
                    margin: 2rem 0;

                    @media screen and (max-width: $mobile) {
                        display: none;
                    }
                }
                > .register-button {
                    all: unset;
        
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    text-align: left;
                    font-family: $heading-font;
                    font-weight: 700;
                    color: black;
        
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
        
                    &:focus {
                        text-decoration: underline;
                    }

                    font-size: min(3svw, 1.5em);
        
                    @media screen and (max-width: $mobile) {
                        // display: none;
                        font-size: min(4svw, 2.5em);
                        position: absolute;
                        bottom: 2rem;
                        width: 100%;
                        
                    }
                    #arrow-right {
                        margin-left: 25px;
                        width: 50px;
                    }
                }
            }
        }
    }
    > .faq {
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        
        

        > .mobile-logo {
            width: 6vw;
            padding: 2rem 4vw;
        }

        @media screen and (max-width: $mobile) {
            align-items: flex-end;
        }
        
        > .faq-container {
            padding: 0 $desktop-padding;

            @media screen and (max-width: $mobile) {
                margin-bottom: 1rem;
            }

            > .block {
                display: flex;
                flex-direction: column;
                width: 35vw;
                margin-bottom: 1rem;

                > h4 {
                    margin-bottom: 1rem;
                }
                > p {
                    text-align: justify;
                }

                @media screen and (max-width: $mobile) {
                    width: 84vw;
                }
            }
        }
    }
    > .timeline {
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 0 $desktop-padding;
        

        @media screen and (max-width: $mobile) {
            padding: 0 5vw;
            align-items: flex-end;

            .timeline-title {
                padding: 0 $desktop-padding; 

            }

            
        }
        > .mobile-logo {
            width: 6vw;
            padding: 2rem 4vw;
        }
        > .timeline-container {

            

            > h2 {
                margin-bottom: 1.5rem;
            }
            >.block {
                display: flex;
                flex-direction: column;

                > .grid-container {
                    display: grid;
                    margin-left: -5vw;
                    grid-template-columns: min(8vw, 8rem) 2rem 30vw;

                    @media screen and (max-width: $mobile) {
                        // grid-template-columns: 6rem 2rem auto;
                        grid-template-columns: 6rem 2rem auto;
                    }
                    
                    > h5 {
                        text-align: right;
                        line-height: 1.5;
                        padding-right: 1rem;
                    }
                    > h3 {
                        line-height: 1;
                        padding-left: 1rem;
                    }
                    > p {
                        padding: 0.5rem 0rem 1.25rem;
                    }
                    > .middle {
                        display: flex;
                        margin: 0 auto;

                        > .circle {
                            height: 1.5rem;
                            width: 1.5rem;
                            border: 1.5px solid black;
                            border-radius: 50%;
                            background-color: $primary-color;
                        }
                         .line {
                            display: flex;
                            align-items: center;
                            width: 1.5px;
                            background-color: black;
                        }
                        > #last {
                            width: 0;
                        }
                    }
                }
            }
        }
    }
}

.container {
    background: $background-color;

    display: flex;
    scroll-snap-type: y mandatory;
    height: 100svh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
