@import '../../styles/base.scss';

.home {

    > .landing {
        height: 100vh;
        background: $background-color;
        overflow: hidden;

        > .landing-container {
            padding: 4rem $desktop-padding;
        
            > .left-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                
                > .logo {
                    width: 20vw;
                    min-width: 15vw;
                    margin-bottom: 2rem;
                }
                > p {
                    text-align: justify;
                    width: 45vw;
                    margin-top: 1rem;
                }
            }
        
            .shapes {
                display: flex;
                flex-direction: column;
                align-items: center;
        
                .stuff {
                    display: flex;
                    flex-direction: row;
                }
        
                .circle {
                    background-color: $primary-color;
                    height: 100px;
                    width: 100px;
                    border: black 1px solid;
                    border-radius: 50%;
                }
                .line {
                    height: 100px;
                    border-left: 2px solid black;
                }
            }
        }
    }
    > .faq {
        height: 100vh;
        background: $background-color;
        overflow: hidden;

        > .logo {
            width: 6vw;
            padding: 2rem 4vw;
        }

        > .faq-container {
            padding: 0 $desktop-padding;

            > .block {
                display: flex;
                flex-direction: column;
                width: 45vw;
                margin-bottom: 1rem;

                > h4 {
                    margin-bottom: 1rem;
                }
                > p {
                    text-align: justify;
                }
            }
        }
    }
    > .timeline {
        height: 100vh;
        background: $background-color;

        > .logo {
            width: 6vw;
            padding: 2rem 4vw;
        }
        > .timeline-container {
            padding: 0 $desktop-padding;
            
            >.block {
                display: flex;
                flex-direction: column;

                > .grid-container {
                    display: grid;
                    grid-template-columns: 10rem 2rem 35vw;
                    
                    > h5 {
                        text-align: right;
                        line-height: 1.5;
                        padding-right: 1rem;
                    }
                    > h3 {
                        line-height: 1;
                        padding-left: 1rem;
                    }
                    > p {
                        padding: 1rem 1rem 2rem;
                    }
                    > .middle {
                        display: flex;
                        margin: 0 auto;

                        > .circle {
                            height: 1.5rem;
                            width: 1.5rem;
                            border: 1.5px solid black;
                            border-radius: 50%;
                            background-color: $primary-color;
                        }
                         .line {
                            display: flex;
                            align-items: center;
                            width: 1.5px;
                            background-color: black;
                        }
                        > #last {
                            width: 0;
                        }
                    }
                }
            }
        }
    }
}

.container {
    scroll-snap-type: y mandatory;
    height: 100svh;
    overflow-y: scroll;
  }
  
section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100svh;

  }